
/* Flex container */
#p-flex {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* Product items */
div.p-flex {
  width: 25%;
}
div.p-flex-in {
  box-sizing: border-box;
  margin: 5px; 
  padding: 10px;
  border: 10px solid #dee0fc;
  background: #d1d1d1;
}
img.p-img {
  width: 100%;
  height: auto;
}
div.p-name {
  font-weight: bold;
  font-size: 1.1em;
}
div.p-price {
  color: #fbff00;
}
div.p-desc {
  color: #888;
  font-size: 0.9em;
}
button.p-add {
  background: #0051ff;
  color: #fff;
  border: none;
  width: 100%;
  padding: 10px;
  margin: 10px 5px 5px 5px;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
}
/* Responsive */
@media only screen and (max-width: 1024px) {
  div.p-flex { width: 33%; }
}
@media only screen and (max-width: 600px) {
  div.p-flex { width: 50%; }
}
/* [DOES NOT MATTER] */
html, body {
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
}
