div.absolute {
    position: absolute;
    bottom: 1px;
    width: 100%;
    border-top: 1px solid black;
}
p.left{
    text-align:left;
}
p.right{
    text-align: right;
}
p.center{
    text-align: center;
}
