body{
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
}

.header-top{
    background-color: #ffffff;
    max-width: 800px;
    overflow: hidden;
    list-style: none;
    margin: auto;
    position: relative;
    top: -8px;
    left: -17.5px;
}

.header-top li{
    display: inline;
}

.header-top li a{
    color: #00C0F9;
    text-align: center;
    float: left;
    font-size: 15px;
}

.header-top li c {
    color: #00C0F9;
    text-align: center;
    float: right;
    font-size: 15px;
}

.header-bg{
    background-color: #00C0F9;
    max-width: 100%;
    height: 100px;
}

.header{
    max-width: 800px;
    overflow: hidden;
    background-color: #00C0F9;
    font-size: 20px;
    margin:auto;
    height: 100px
}

.header p{
    Color: #ffffff;
    float: right;
    padding-top: 20px;
    padding-right: 10px;
}
.header image{
    background-image: url("WWI Emboss.png");
    max-height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}



.nav-bg{
    max-width: 100%;
    background-color: #B9BBBD;
}

.nav{
    max-width: 800px;
    overflow: hidden;
    list-style:none;
    margin: auto;
    padding:2px;
    text-align:center;
    background-color: #B9BBBD;
    font-size: 18px;
}
.nav li {
    display: inline;
    border-right:1px solid #ffffff;
}

.nav li:last-child {
    border-right: none;
}

.nav li a {
    display: inline-block;
    color: #000000;
    padding-left: 5%;
    padding-right: 5%;
    text-decoration: none;
}

.nav li a:hover:not(.active) {
    background-color: #6E6F70;
}

.slider-holder
{
    max-width: 800px;
    max-height: 400px;

    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
}

.image-holder
{
    width: 2400px;
    background-color: red;
    height: 400px;
    clear: both;
    position: relative;

    -webkit-transition: left .6s;
    -moz-transition: left .6s;
    -o-transition: left .6s;
    transition: left .6s;
}

.slider-image
{
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
}

#slider-image-1:target ~ .image-holder
{
    left: 0px;
}

#slider-image-2:target ~ .image-holder
{
    left: -800px;
}

#slider-image-3:target ~ .image-holder
{
    left: -1600px;
}

.button-holder
{
    position: relative;
    top: -20px;
}

.top-left1 {
    position: absolute;
    top: 8px;
    left: 16px;
}

.top-left2 {
    position: absolute;
    top: 8px;
    left: 816px;
}

.top-left3 {
    position: absolute;
    top: 8px;
    left: 1616px;
}

.slider-change
{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 1px;
    background-color: #8a90a5;
}


/* Flex container */
#p-flex {
    max-width: 808px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/* Product items */
div.p-flex {
    width: 25%;
}
div.p-flex-in {
    box-sizing: border-box;
    margin: 5px;
    padding: 10px;
    border: 2px solid #dee0fc;
    background: #EBECEC;
}
img.p-img {
    width: 100%;
    height: auto;
}
div.p-name {
    font-weight: bold;
    font-size: 1.1em;
}
div.p-price {
    color: #EA4476;
}
div.p-desc {
    color: #888;
    font-size: 0.9em;
}
button.p-add {
    background: #00C0F9;
    color: #fff;
    border: none;
    width: 100%;
    padding: 10px;
    margin: 10px 5px 5px 5px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
}
/* Responsive */
@media only screen and (max-width: 1024px) {
    div.p-flex { width: 33%; }
}
@media only screen and (max-width: 600px) {
    div.p-flex { width: 50%; }
}

.bottom-divider{
    background-color: #00C0F9;
    max-width: 100%;
    height: 75px;
}

div.absolute {
    bottom: 1px;
    max-width: 800px;
    margin:auto;
    padding: 10px;
}
p.left{
    text-align:left;
}
p.right{
    text-align: right;
}
p.center{
    text-align: center;
}
